.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.App__container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}

.App__heading {
  text-align: center;
  font-size: 18px;
  margin: 0 0 20px;
}